{{#each students}}

<div class="student">
    <h2 class="name">{{name}}</h2>
    <h3 class="hunger">hunger: {{hunger}}</h3>
    <h3 class="thirst">thirst: {{thirst}}</h3>
    <h3 class="fatigue">fatigue: {{fatigue}}</h3>
    <h3 class="welm">welm: {{welm}}</h3>
</div>

{{/each}}