<div id="dayContainer">
    <p id="dayCounter">DAY : {{day}}</p>
</div>

<div id="ikeContainer">
    <p id="ikeTotal">I.K.E TOTAL : {{ikeTotal}}</p>
    <p id="ikeMined">I.K.E MINED : </p>
    <button type="button" id="ikeButton">GENERATE I.K.E</button>
    <button type="button" id="bankButton">BANK I.K.E (ADVANCE DAY)</button>
    <button type="button" id="resetButton">RESET</button>
</div>


<div class="students-grid">
    {{#each students}}

    <div class="student">
        <h2 class="name">{{name}}</h2>
        <h3 class="hunger">hunger: {{hunger}} <button type="button" class="hungerButton">FEED (10 IKE)</button>
        <h3 class="thirst">thirst: {{thirst}} <button type="button" class="thirstButton">WATER (10 IKE)</button>
        <h3 class="fatigue">fatigue: {{fatigue}} <button type="button" class="fatigueButton">SLEEP (10 IKE)</button>
        <h3 class="whelm">whelm: {{whelm}} <button type="button" class="whelmButton">STRETCH (10 IKE)</button>
    </div>

    {{/each}}
</div>